{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  <div class="o-section__wrapper">
    <!-- Footer Logo -->
    <div class="footer-logo">
      <svg width="200" height="40" viewBox="0 0 200 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 30.7887C0 28.2897 0 25.7908 0 23.2919C0 22.295 0 22.3424 0.946914 22.3538C2.68075 22.3823 4.41645 22.3652 6.15587 22.3349C6.85722 22.3235 6.87397 22.2798 7.18836 22.9843C8.61339 26.1744 10.0328 29.3683 11.4467 32.566C11.7295 33.2002 12.0141 33.8307 12.3099 34.4649C12.3894 34.5914 12.4823 34.7086 12.5871 34.8143C12.7184 34.7056 12.8331 34.5776 12.9275 34.4345C13.8887 32.2824 14.8443 30.1228 15.7943 27.9555C16.5384 26.2845 17.2696 24.6135 18.0267 22.9463C18.3188 22.295 18.3318 22.3368 18.996 22.3443C20.793 22.3652 22.5883 22.3728 24.391 22.3443C25.163 22.3349 25.1779 22.2931 25.1779 23.0849C25.1779 27.4181 25.1779 31.7514 25.1779 36.0846C25.1779 36.9391 25.1872 37.7936 25.1779 38.6481C25.1686 39.2956 25.1593 39.3146 24.5751 39.3241C23.645 39.3412 22.7148 39.3412 21.7846 39.3241C21.1893 39.3241 21.1763 39.2956 21.1633 38.6538C21.1484 37.8943 21.1633 37.1347 21.1633 36.3752C21.1633 33.1167 21.1633 29.8588 21.1633 26.6016C21.1378 26.3666 21.086 26.1353 21.0088 25.9123C20.8429 26.0737 20.6973 26.2555 20.5754 26.4535C18.7857 30.2766 17.0122 34.1054 15.2548 37.9398C15.1376 38.1981 14.9944 38.4468 14.9013 38.7146C14.7283 39.2178 14.3842 39.3469 13.8912 39.3279C13.0243 39.2956 12.1536 39.288 11.2867 39.3279C10.7286 39.3564 10.4533 39.1228 10.2319 38.6272C9.18451 36.303 8.11295 33.9902 7.04884 31.6697C6.24889 29.9253 5.44956 28.1802 4.65086 26.4345C4.57659 26.262 4.48294 26.0989 4.3718 25.9484C4.3439 25.9142 4.10764 25.9769 4.10206 26.0149C4.06328 26.2954 4.04401 26.5784 4.04438 26.8618C4.04438 30.6254 4.04438 34.3896 4.04438 38.1544C4.04438 39.4209 4.11136 39.3165 2.87237 39.3203C2.15986 39.3203 1.44735 39.3203 0.734835 39.3203C0.0223241 39.3203 0 39.307 0 38.5703C0 35.9764 0 33.3825 0 30.7887Z" fill="white"/>
        <path d="M106.012 30.8534C106.012 28.2918 106.012 25.7265 106.012 23.1688C106.012 22.3941 106.025 22.3789 106.786 22.3789C111.557 22.3789 116.332 22.3789 121.11 22.3789C123.142 22.3789 124.799 23.1669 125.86 24.9936C127.073 27.0823 126.861 31.0964 123.999 32.6383C123.918 32.6838 123.838 32.7294 123.758 32.7788C123.24 33.094 123.229 33.0997 123.486 33.6579C124.264 35.346 125.054 37.0245 125.83 38.7126C126.076 39.2462 126.044 39.3012 125.475 39.3088C124.451 39.324 123.428 39.2917 122.407 39.3221C121.925 39.3373 121.683 39.117 121.495 38.6993C120.822 37.2049 120.093 35.739 119.449 34.2295C119.181 33.5934 118.803 33.413 118.167 33.4206C115.78 33.4471 113.395 33.4206 111.01 33.4339C110.103 33.4339 110.058 33.4851 110.052 34.3833C110.052 35.7751 110.052 37.1669 110.052 38.5607C110.052 39.286 110.034 39.2955 109.318 39.305C108.449 39.3164 107.581 39.3164 106.713 39.305C106.043 39.2955 106.028 39.2841 106.025 38.6233C106.014 37.3264 106.025 36.0295 106.025 34.7346L106.012 30.8534ZM115.566 25.8234C114.05 25.8234 112.534 25.8234 111.018 25.8234C110.108 25.8234 110.058 25.8784 110.047 26.7728C110.038 27.5323 110.038 28.2918 110.047 29.0514C110.056 29.959 110.101 30.0008 111.001 30.0122C114.004 30.0122 117.004 30.0122 120.007 30.0122C120.408 30.0125 120.805 29.9425 121.183 29.8052C121.588 29.6404 121.933 29.3506 122.169 28.9761C122.405 28.6017 122.521 28.1613 122.5 27.7165C122.418 26.8203 121.867 26.1803 120.937 25.9525C120.607 25.8771 120.269 25.8395 119.931 25.8405C118.476 25.8101 117.014 25.8234 115.566 25.8234Z" fill="white"/>
        <path d="M189.833 21.8365C192.635 21.8104 195.422 22.2596 198.08 23.1657C198.285 23.2341 198.484 23.3252 198.686 23.3993C199.086 23.5398 199.205 23.7791 199.029 24.1968C198.75 24.8652 198.526 25.5583 198.258 26.2305C198.033 26.8001 198.011 26.7849 197.429 26.6103C196.298 26.2855 195.178 25.9096 194.03 25.6608C191.267 25.0498 188.404 25.09 185.658 25.7786C185.089 25.9223 184.548 26.1651 184.059 26.4963C183.151 27.121 183.298 28.2186 184.312 28.6401C184.628 28.7676 184.963 28.8433 185.303 28.8642C186.724 28.9496 188.148 28.9914 189.569 29.0731C191.515 29.1832 193.464 29.263 195.403 29.4642C196.2 29.5673 196.976 29.8014 197.7 30.1573C199.814 31.1409 200.491 33.5278 199.643 35.6108C199.101 36.94 198.076 37.785 196.871 38.4287C195.368 39.2319 193.732 39.5832 192.071 39.8092C188.894 40.2402 185.768 39.9212 182.697 39.0496C181.897 38.8199 181.134 38.4534 180.353 38.1591C180.04 38.0433 180.01 37.8591 180.139 37.5704C180.498 36.7653 180.848 35.9558 181.186 35.1418C181.335 34.7848 181.525 34.7905 181.841 34.9386C184.903 36.3893 188.148 36.7008 191.463 36.4311C192.385 36.3505 193.296 36.1684 194.181 35.8881C194.736 35.7058 195.244 35.3997 195.669 34.9918C196.465 34.2323 196.246 33.1651 195.209 32.829C194.467 32.6129 193.7 32.4942 192.929 32.4758C190.826 32.3619 188.721 32.3163 186.617 32.2214C185.379 32.1644 184.139 32.0695 182.959 31.6517C182.402 31.4612 181.871 31.2003 181.378 30.8751C180.878 30.5531 180.458 30.1181 180.149 29.6038C179.841 29.0895 179.652 28.5096 179.598 27.909C179.544 27.3084 179.626 26.7032 179.838 26.1402C180.05 25.5771 180.386 25.0714 180.82 24.662C181.601 23.9294 182.513 23.3569 183.506 22.9758C185.526 22.1935 187.673 21.807 189.833 21.8365Z" fill="white"/>
        <path d="M140.854 39.8528C138.484 39.9553 136.231 39.4901 134.157 38.3015C131.785 36.9476 130.202 34.9804 129.765 32.1835C129.273 29.0371 130.299 26.4319 132.669 24.4286C134.583 22.809 136.862 22.0057 139.34 21.8614C141.572 21.7304 143.805 21.7855 145.933 22.6381C148.39 23.6198 150.375 25.135 151.438 27.6927C152.102 29.3272 152.232 31.1368 151.808 32.8527C151.384 34.5685 150.43 36.0992 149.086 37.2172C147.09 38.8635 144.787 39.6857 142.249 39.8509C141.786 39.8756 141.319 39.8528 140.854 39.8528ZM141.226 25.2205C139.219 25.2205 137.582 25.5034 136.159 26.5212C134.402 27.7744 133.66 29.5042 133.978 31.686C134.289 33.8164 135.589 35.1039 137.455 35.8805C138.89 36.4729 140.406 36.5868 141.92 36.4311C143.222 36.3001 144.474 35.9526 145.568 35.1608C147.135 34.0215 147.909 32.4569 147.784 30.5258C147.644 28.3459 146.482 26.8345 144.526 25.9496C143.485 25.4731 142.358 25.2247 141.217 25.2205H141.226Z" fill="white"/>
        <path d="M155.651 30.7613V23.3563C155.651 23.136 155.651 22.9139 155.651 22.6936C155.651 22.4221 155.757 22.2968 156.04 22.2987C157.156 22.2987 158.272 22.2778 159.377 22.3158C159.646 22.361 159.894 22.4943 160.082 22.6955C160.839 23.3962 161.571 24.1215 162.315 24.8487C165.276 27.7727 168.237 30.6974 171.198 33.6227C171.43 33.8141 171.679 33.9832 171.942 34.1278C172.003 33.8259 172.044 33.5202 172.065 33.2126C172.065 29.9848 172.065 26.7569 172.065 23.5291C172.065 23.3088 172.076 23.0867 172.065 22.8645C172.042 22.4848 172.238 22.3671 172.574 22.369C173.38 22.369 174.185 22.3822 174.993 22.369C176.109 22.3443 176.109 22.3329 176.109 23.4911V38.005C176.109 38.2272 176.109 38.4474 176.109 38.6696C176.081 39.2753 176.07 39.2999 175.456 39.3094C174.465 39.3246 173.471 39.2942 172.48 39.3227C172.016 39.3341 171.735 39.0797 171.447 38.7873C168.991 36.367 166.537 33.9449 164.084 31.5208C162.882 30.3341 161.665 29.155 160.464 27.974C160.343 27.8308 160.2 27.7083 160.041 27.6114C159.967 27.5734 159.729 27.6816 159.718 27.75C159.682 28.0313 159.669 28.3152 159.679 28.5987C159.679 31.7632 159.679 34.9278 159.679 38.0924C159.679 38.2499 159.679 38.4075 159.679 38.5651C159.662 39.2943 159.66 39.3037 158.955 39.3132C158.12 39.3246 157.281 39.3132 156.445 39.3132C155.658 39.3132 155.651 39.298 155.649 38.4436C155.648 35.8854 155.648 33.3246 155.651 30.7613Z" fill="white"/>
        <path d="M21.5304 17.8605C19.0476 17.9676 16.5951 17.2719 14.5225 15.8724C13.3742 15.0994 12.4368 14.0417 11.7978 12.7984C11.1589 11.555 10.8394 10.1665 10.8691 8.76281C10.8988 7.35911 11.2769 5.98604 11.9679 4.77202C12.6589 3.55799 13.6402 2.54268 14.8202 1.82104C16.5974 0.70854 18.6281 0.0881116 20.7119 0.0209491C22.6746 -0.0588019 24.6093 0.0665211 26.4678 0.793774C28.4528 1.5723 30.1606 2.72299 31.2879 4.61612C32.4137 6.48286 32.7679 8.72916 32.2731 10.8622C31.7782 12.9952 30.4745 14.8408 28.6481 15.9939C26.8715 17.1313 24.6967 17.9421 21.5304 17.8605ZM21.629 14.4749C23.3033 14.5242 24.8921 14.1748 26.2799 13.1666C29.0258 11.1842 29.0964 6.91561 26.4194 4.83259C24.1275 3.04769 19.9585 2.8673 17.434 4.45283C15.7076 5.55225 14.8816 7.16246 14.9727 9.23219C15.0676 11.2317 16.048 12.6805 17.7726 13.6147C18.9624 14.2402 20.292 14.5367 21.629 14.4749Z" fill="white"/>
        <path d="M66.1727 39.8511C64.0635 39.9654 61.9583 39.5617 60.0335 38.6739C57.8718 37.677 56.1436 36.1902 55.2283 33.9002C53.7568 30.2184 55.0627 26.1587 58.4002 23.9409C60.3031 22.6716 62.5063 21.95 64.7774 21.8522C67.0452 21.7363 69.2999 21.7838 71.4746 22.6231C73.0894 23.2478 74.5479 24.1137 75.7162 25.4352C75.9022 25.646 76.0697 25.8758 76.2352 26.1036C76.3636 26.2764 76.3952 26.4492 76.1664 26.5688C75.1451 27.1005 74.12 27.6379 73.0969 28.143C73.016 28.1579 72.9327 28.1526 72.8543 28.1274C72.7759 28.1023 72.7047 28.0581 72.6467 27.9987C71.0579 26.0752 68.9055 25.5302 66.5857 25.4011C65.1904 25.2921 63.7887 25.4949 62.478 25.9954C60.7386 26.6923 59.4699 27.8354 59.0271 29.7779C58.655 31.4242 59.0792 32.8502 60.1433 34.0825C61.3637 35.4876 63.0027 36.0592 64.7625 36.2491C66.5224 36.439 68.2265 36.306 69.8785 35.6301C70.9593 35.1895 71.9509 34.6142 72.6336 33.6192C72.9015 33.2394 73.1638 33.1749 73.5638 33.397C74.4103 33.8584 75.2809 34.2724 76.1311 34.7262C76.6148 34.9845 76.652 35.0566 76.2836 35.5009C75.7657 36.168 75.1849 36.7817 74.5498 37.3333C72.5667 38.9283 70.2543 39.6689 67.7577 39.8417C67.2275 39.8758 66.6991 39.8511 66.1727 39.8511Z" fill="white"/>
        <path d="M50.3275 39.3193C49.9252 39.2958 49.522 39.299 49.1201 39.3288C48.4281 39.4199 48.0374 39.1142 47.7453 38.4971C47.4253 37.8135 47.0012 37.1831 46.657 36.5109C46.5709 36.3089 46.4251 36.1394 46.24 36.026C46.0549 35.9127 45.8397 35.8611 45.6245 35.8786C42.0911 35.8926 38.5565 35.8926 35.0206 35.8786C34.5313 35.8786 34.2076 36.0286 33.9732 36.4806C33.5788 37.2401 33.1286 37.954 32.7287 38.7022C32.4998 39.1332 32.2226 39.3554 31.7073 39.3326C30.7474 39.2908 29.7856 39.3326 28.8257 39.3155C28.1931 39.3155 28.1448 39.2262 28.4406 38.6832C28.967 37.7167 29.5121 36.7616 30.0535 35.8027C32.4099 31.6076 34.7713 27.4144 37.1377 23.2231C37.2288 23.0598 37.3404 22.9041 37.4186 22.7332C37.5897 22.3535 37.8688 22.306 38.2539 22.3155C39.584 22.3516 40.9179 22.3782 42.2462 22.3155C42.7615 22.2946 43.0312 22.4313 43.2805 22.8851C44.9771 25.9365 46.6961 28.9746 48.4076 32.0165C49.5647 34.0735 50.7213 36.1293 51.8771 38.1838C52.0167 38.4306 52.1469 38.6832 52.2957 38.9224C52.4594 39.1902 52.4166 39.3212 52.0892 39.3193C51.4995 39.3193 50.9116 39.3193 50.3219 39.3193H50.3275ZM40.3188 32.4475C41.4034 32.4475 42.4861 32.4646 43.5689 32.4475C44.1772 32.4342 44.2628 32.2918 43.9763 31.7772C42.8787 29.7987 41.7681 27.8284 40.6444 25.8663C40.3654 25.3764 40.2556 25.3859 39.9672 25.891C38.8634 27.829 37.7677 29.7721 36.68 31.7203C36.3563 32.2899 36.4252 32.4361 37.0688 32.4494C38.1515 32.4703 39.2361 32.4494 40.3188 32.4475Z" fill="white"/>
        <path d="M80.7545 39.3156C80.1964 39.3156 79.6383 39.3156 79.0802 39.3156C78.7509 39.3156 78.7211 39.1865 78.8737 38.9187C79.5397 37.7414 80.1945 36.5584 80.8587 35.3792C83.1729 31.2662 85.4984 27.1608 87.7903 23.0365C88.1121 22.4668 88.447 22.2769 89.113 22.3339C90.3186 22.4269 91.5294 22.4269 92.7351 22.3339C93.3434 22.2883 93.6132 22.4858 93.8904 22.9871C95.1833 25.3284 96.5134 27.647 97.8268 29.9769C99.4007 32.772 100.973 35.5691 102.543 38.368L102.822 38.8599C103.021 39.2074 102.85 39.3118 102.534 39.3175H102.161C101.231 39.3175 100.301 39.3023 99.3709 39.3175C99.1873 39.3366 99.0025 39.2958 98.8431 39.2009C98.6836 39.1061 98.5578 38.9621 98.4836 38.7896C98.0575 37.9826 97.5757 37.2078 97.146 36.4027C97.0671 36.2318 96.939 36.0895 96.7787 35.9948C96.6185 35.9001 96.4338 35.8576 96.2493 35.8729C92.6526 35.8818 89.056 35.8818 85.4593 35.8729C85.2741 35.862 85.0899 35.9079 84.9305 36.0047C84.771 36.1015 84.6436 36.2447 84.5645 36.416C84.1403 37.1888 83.6678 37.9351 83.2753 38.7212C83.1945 38.9259 83.0479 39.0964 82.8595 39.2048C82.6712 39.3131 82.4524 39.3529 82.239 39.3175C81.746 39.2833 81.2475 39.3175 80.7508 39.3175L80.7545 39.3156ZM90.9287 32.4511C91.8886 32.4511 92.8467 32.4511 93.8067 32.4511C94.0225 32.4551 94.2384 32.4417 94.4522 32.4113C94.4994 32.411 94.5457 32.3976 94.586 32.3724C94.6263 32.3472 94.6591 32.3112 94.6807 32.2683C94.7024 32.2255 94.7122 32.1774 94.7089 32.1293C94.7057 32.0811 94.6896 32.0348 94.6624 31.9954C94.6103 31.8815 94.5452 31.7732 94.4764 31.6631L91.4254 26.2437C91.3175 26.0538 91.2133 25.8639 91.0924 25.674C90.9715 25.4841 90.7985 25.4651 90.6571 25.674C90.5492 25.8297 90.4487 25.9892 90.3557 26.1544C89.3846 27.8786 88.4154 29.6034 87.448 31.3289C87.324 31.5492 87.2068 31.7713 87.0964 31.9954C86.9866 32.2214 87.0871 32.3752 87.3048 32.4094C87.5182 32.4437 87.7342 32.4589 87.9503 32.4549C88.9474 32.453 89.9371 32.4511 90.9287 32.4511Z" fill="white"/>
        <path d="M35.9938 8.82949C35.9938 6.36101 35.9938 3.89253 35.9938 1.42406C35.9938 0.580975 36.0068 0.57338 36.8124 0.565784C37.6179 0.558189 38.4234 0.554391 39.2308 0.565784C39.8466 0.575278 39.8466 0.58857 39.8689 1.19999C39.8689 1.35949 39.8689 1.5171 39.8689 1.6747V5.66224C39.8689 6.96864 39.7964 6.8718 41.0986 6.8718H50.5863C50.7408 6.8718 50.897 6.8718 51.0514 6.8718C51.8179 6.85281 51.8477 6.83762 51.8551 6.07809C51.8663 4.65396 51.8551 3.22984 51.8551 1.80952C51.8551 1.58735 51.8663 1.36519 51.8551 1.14493C51.8346 0.765161 51.9556 0.554391 52.376 0.561987C53.3359 0.579076 54.2959 0.561987 55.2577 0.561987C55.5553 0.561987 55.7246 0.681613 55.7172 1.00821C55.7172 1.19809 55.7172 1.38798 55.7172 1.57786C55.7172 6.47937 55.7172 11.3802 55.7172 16.2805C55.7172 16.4381 55.706 16.5957 55.7172 16.7533C55.7414 17.1748 55.5311 17.2983 55.1479 17.2945C54.281 17.2831 53.4122 17.2945 52.5434 17.2945C51.8756 17.2945 51.8588 17.2717 51.8551 16.6033C51.8439 14.9912 51.8551 13.3753 51.8551 11.7651C51.8551 10.2308 51.9593 10.3713 50.5212 10.3694H41.1302C40.9442 10.3694 40.7582 10.3694 40.5721 10.3694C39.9154 10.396 39.8968 10.4112 39.8726 11.0701C39.8615 11.4176 39.8726 11.767 39.8726 12.1145C39.8726 13.6335 39.8615 15.1526 39.8726 16.6717C39.8726 17.0989 39.7666 17.3154 39.3034 17.304C38.4048 17.2831 37.5063 17.2888 36.6077 17.304C36.1836 17.304 35.9659 17.154 35.9901 16.7001C36.0031 16.4799 35.9901 16.2577 35.9901 16.0374L35.9938 8.82949Z" fill="white"/>
        <path d="M170.709 0.569994C171.329 0.569994 171.952 0.600375 172.57 0.569994C173.079 0.535816 173.347 0.759874 173.585 1.1947C174.917 3.66313 176.279 6.10499 177.63 8.55633L181.814 16.1629C181.95 16.4117 182.074 16.668 182.212 16.9224C182.381 17.2262 182.242 17.3155 181.961 17.3155C180.876 17.3155 179.792 17.3155 178.707 17.3155C178.335 17.3155 178.166 17.0876 178.011 16.7971C177.624 16.0756 177.213 15.3692 176.841 14.6401C176.599 14.1673 176.283 13.9755 175.725 13.9793C172.346 14.0021 168.969 14.0021 165.592 13.9793C165.348 13.9548 165.103 14.0108 164.893 14.139C164.683 14.2672 164.519 14.4608 164.425 14.6913C164.1 15.3369 163.705 15.9483 163.391 16.5901C163.145 17.099 162.833 17.3497 162.241 17.3212C161.408 17.2699 160.567 17.3212 159.731 17.306C158.896 17.2908 158.872 17.2699 159.268 16.5465C160.198 14.8375 161.145 13.1286 162.085 11.4197C163.93 8.07783 165.783 4.74735 167.588 1.39977C167.911 0.799748 168.25 0.488346 168.944 0.558601C169.532 0.592788 170.121 0.596591 170.709 0.569994ZM170.592 10.4836C171.55 10.4836 172.508 10.4836 173.466 10.4836C174.525 10.4836 174.54 10.4532 174.037 9.5532C173.915 9.33294 173.796 9.11268 173.675 8.89242C172.807 7.32654 171.943 5.76067 171.085 4.1948C170.694 3.49034 170.641 3.49224 170.22 4.21378C169.984 4.62013 169.761 5.03406 169.535 5.4461C168.736 6.90438 167.926 8.35696 167.141 9.81333C166.855 10.3469 166.925 10.4608 167.532 10.4703C168.555 10.4931 169.576 10.4817 170.592 10.4836Z" fill="white"/>
        <path d="M108.01 0.570156C108.63 0.570156 109.253 0.602437 109.871 0.558763C110.414 0.520787 110.712 0.748648 110.965 1.22336C112.129 3.38234 113.327 5.52424 114.499 7.67942C116.134 10.6568 117.766 13.6355 119.396 16.6154C119.747 17.261 119.733 17.2952 119.061 17.3047C118.131 17.3179 117.201 17.2857 116.27 17.3161C115.798 17.3312 115.526 17.1262 115.324 16.7198C114.951 15.9964 114.518 15.2957 114.144 14.5703C114.068 14.3827 113.936 14.2243 113.767 14.1176C113.597 14.0109 113.399 13.9613 113.201 13.976C109.728 13.9937 106.256 13.9937 102.783 13.976C102.305 13.976 102.054 14.1773 101.853 14.5779C101.481 15.3033 101.049 16.0021 100.671 16.7274C100.595 16.9162 100.461 17.075 100.29 17.1809C100.118 17.2868 99.9184 17.3341 99.7189 17.3161C98.7888 17.2876 97.8586 17.316 96.9284 17.3047C96.2829 17.3047 96.255 17.2439 96.5563 16.6913C97.6093 14.7583 98.6672 12.8272 99.7301 10.898C101.352 7.94969 102.975 5.00206 104.599 2.05505C104.675 1.91644 104.744 1.77592 104.824 1.6392C105.553 0.374576 105.261 0.600538 106.608 0.575853C107.08 0.570156 107.545 0.570156 108.01 0.570156ZM107.966 10.4802C109.049 10.4802 110.129 10.4935 111.212 10.4802C111.748 10.4802 111.811 10.3511 111.556 9.8536C111.257 9.26686 110.929 8.6953 110.611 8.11806C109.854 6.74519 109.104 5.36663 108.332 4.00326C108.079 3.55704 107.96 3.56273 107.705 4.00326C106.638 5.9211 105.576 7.84336 104.52 9.77005C104.193 10.372 104.253 10.4726 104.907 10.4821C105.927 10.4935 106.946 10.484 107.966 10.4821V10.4802Z" fill="white"/>
        <path d="M147.361 17.3045H139.362C139.144 17.3045 138.926 17.3045 138.711 17.3045C138.378 17.3045 138.173 17.1963 138.197 16.8147C138.208 16.6571 138.197 16.4976 138.197 16.34V1.53891C138.197 1.34903 138.197 1.15915 138.197 0.969275C138.197 0.684457 138.352 0.578125 138.607 0.578125H141.769C142.041 0.578125 142.152 0.731927 142.141 0.997757C142.141 1.21992 142.141 1.44017 142.141 1.66233V12.5747C142.141 12.7645 142.141 12.9544 142.141 13.1443C142.165 13.8525 142.18 13.8848 142.896 13.8886C144.632 13.9 146.368 13.8886 148.105 13.8886C150.617 13.8886 153.127 13.8886 155.636 13.8886C156.531 13.8886 156.533 13.8886 156.536 14.838C156.536 15.4399 156.548 16.0399 156.536 16.6419C156.525 17.2438 156.507 17.2912 155.9 17.2988C154.661 17.314 153.422 17.2988 152.18 17.2988L147.361 17.3045Z" fill="white"/>
        <path d="M84.7497 17.3047H76.8525C76.6665 17.3047 76.4805 17.3047 76.2944 17.3047C75.6805 17.2762 75.6601 17.2553 75.6266 16.6667C75.6266 16.5414 75.6266 16.4142 75.6266 16.2869V1.58816C75.6266 1.43056 75.6359 1.27106 75.6266 1.11346C75.6042 0.695716 75.8219 0.566596 76.1977 0.570393C77.0962 0.570393 77.9948 0.570393 78.8915 0.570393C79.4793 0.579888 79.4961 0.596977 79.4979 1.23498C79.4979 3.57243 79.4979 5.91178 79.4979 8.25113C79.4979 9.83095 79.4979 11.4127 79.4979 12.9982C79.4979 13.8792 79.511 13.8906 80.3872 13.8906C84.506 13.8906 88.6248 13.8906 92.7436 13.8906C93.9881 13.8906 93.8858 13.7653 93.8895 15.0679C93.8895 15.6376 93.8895 16.2072 93.8895 16.7768C93.8895 17.1262 93.737 17.3047 93.3872 17.3009C93.1714 17.3009 92.9538 17.3009 92.738 17.3009L84.7497 17.3047Z" fill="white"/>
        <path d="M187.244 0.570493C187.646 0.570493 188.049 0.5591 188.451 0.570493C189.045 0.591381 189.065 0.61037 189.041 1.24649C188.922 4.2847 188.838 7.30962 188.658 10.3364C188.552 12.1214 188.658 11.7587 187.216 11.7777C186.704 11.7568 186.193 11.7067 185.687 11.6277C185.655 11.1283 185.616 10.627 185.594 10.1257C185.47 7.34949 185.351 4.5727 185.237 1.79527C185.237 1.60538 185.224 1.41549 185.227 1.22561C185.238 0.598977 185.24 0.589482 185.85 0.570493C186.314 0.570493 186.779 0.570493 187.244 0.570493Z" fill="white"/>
        <path d="M189.124 15.5833C189.165 16.7226 188.514 17.672 187.143 17.7308C186.039 17.7783 185.048 16.8498 185.063 15.5435C185.061 15.2679 185.114 14.9947 185.218 14.7404C185.322 14.4861 185.475 14.2559 185.669 14.0634C185.862 13.8709 186.091 13.7202 186.343 13.6202C186.595 13.5202 186.863 13.473 187.133 13.4814C188.322 13.4814 189.126 14.3264 189.124 15.5833Z" fill="white"/>
      </svg>      
    </div>
    <!-- Footer Top -->
    <div class="footer__content-top page-width">
      <!-- News Letter -->
      {%- if section.settings.newsletter_enable -%}
        <div class="footer-block__newsletter">
          {%- if section.settings.newsletter_heading != blank -%}
            <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
          {%- endif -%}
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="newsletter-form__field-wrapper">
              <div class="field">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="footer-block__newsletter-input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="ContactFooter-success"
                  {% endif %}
                  placeholder="Enter your email to add a little Ohlala! to your life"
                  required
                >
                <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                  {% render 'icon-long-arrow' %}
                </button>
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- endif -%}
      <!-- Footer Menu -->
      {%- if section.settings.menu != blank -%}
        <ul class="footer-block__details-content list-unstyled">
          {%- for link in section.settings.menu.links -%}
            <li>
              <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
    <!-- Footer Bottom -->
    <div class="footer__content-bottom">
      <!-- Columns -->
      <div class="footer__content-cols">
        <div class="footer__content-operations">
          <h2>{{ section.settings.operations_heading }}</h2>
          <p>{{ section.settings.operations | newline_to_br }}</p>
        </div>
        <div class="footer__content-contact">
          <h2>{{ section.settings.contact_heading }}</h2>
          <p>{{ section.settings.contact | newline_to_br }}</p>
        </div>
        <!-- Social Links -->
        {%- if section.settings.show_social -%}
          <div class="footer__content-socials">
            {%- render 'icon-contact-us.liquid' -%}
            <ul class="footer__list-social list-unstyled list-social" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
      <!-- Info -->
      <div class="footer__column footer__column--info">
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content">{{ powered_by_link }}</small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Footer Menu"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "text",
      "id": "operations_heading",
      "default": "Office Opening Hours",
      "label": "Operations Heading"
    },
    {
      "type": "textarea",
      "id": "operations",
      "label": "Operations"
    },
    {
      "type": "text",
      "id": "contact_heading",
      "default": "Contact Details",
      "label": "Contact Heading"
    },
    {
      "type": "textarea",
      "id": "contact",
      "label": "Contact Infomations"
    }
  ]
}
{% endschema %}
