{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .c-section--hero {
        background-color: {{ section.settings.background_color }};
    }
    .c-hero__title h2,
    .c-hero__desc p {
        color: {{ section.settings.text_color }};
    }
    .c-section--hero .c-link a{
        border-color: {{ section.settings.text_color }};
        color: {{ section.settings.text_color }};
    }
{%- endstyle -%}
<section class="o-section c-section--hero">
    <div class="o-section__wrapper c-hero">
        <div class="c-hero__content">
            {%- unless section.settings.title == blank -%}
                <div class="c-hero__title">
                    <h2>{{ section.settings.title | escape }}</h2>
                </div>
            {%- endunless -%}
            {%- unless section.settings.desc == blank -%}
                <div class="c-hero__desc">
                    <p>{{ section.settings.desc | escape }}</p>
                </div>
            {%- endunless -%}
            {%- unless section.settings.link == blank -%}
                <div class="c-link">
                    <a href="{{ section.settings.link }}">
                        {{ section.settings.link_text }}
                        {%- unless section.settings.link_Arrow == false -%}
                            {%- render "icon-arrow" -%}
                        {%- endunless -%}
                    </a>
                </div>
            {%- endunless -%}
        </div>
        <div class="c-hero__image">
            {{ section.settings.image | img_url: 'large' | img_tag }}
        </div>
    </div>
</section>
{%- schema -%}
{
    "name" : "Hero",
    "settings" : [
        {
            "id" : "image",
            "type" : "image_picker",
            "label" : "Hero Image"
        },
        {
            "id" : "title",
            "type" : "text",
            "label" : "Hero Title",
            "default" : "Hero Title"
        },
        {
            "id" : "desc",
            "type" : "textarea",
            "label" : "Hero Description",
            "default" : "Hero Description"
        },
        {
            "id" : "background_color",
            "type" : "color",
            "label" : "Background Color",
            "default" : "#E94D38"
        },
        {
            "id" : "text_color",
            "type" : "color",
            "label" : "Text Color",
            "default" : "#FFFFFF"
        },
        {
            "id" : "link",
            "type" : "url",
            "label" : "Link"
        },
        {
            "id" : "link_text",
            "type" : "text",
            "label" : "Link Text"
        },
        {
            "type": "checkbox",
            "id": "link_Arrow",
            "label": "Link Has Arrow Icon",
            "default": false
        }
    ]
}
{%- endschema -%}